* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   background-image: url(imags/5e5346352c16e8d69e1649f2_cover_hero-1.svg); 
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0d0d0f;
}
.card-container {
  background-color: black;
  width: 250px;
  height: 440px;
  border-radius: 13px;
  color: white;
  text-align: center;
  padding: 15px;
  box-shadow: white;
    height: auto;
}
.card-container ul {
  list-style: none;
}

.card-container .img2 {
  width: 40px;
}
.card-container .img {
  border: white solid 1px;
  width: 60px;
  border-radius: 30px;
}
.card-container ul a {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: white solid 1px;
  border-radius: 10px;
  margin: 20px 0;

  text-decoration: none;
}

.card-container ul a span {
  display: flex;
  align-items: center;
}

.card-container {
  box-shadow: 5 5 15px rgba(3, 2, 9, 7);
  animation: moveShadow 3s infinite alternate;
}

.card-container {
  animation: rotateWhiteShadow 2s linear infinite;
}


.card-container ul a:active {
  transform: scale(0.95);
  transition: transform 0.1s ease;
}

.card-container ul a:active span i {
  transform: rotate(-12deg) scale(1.1);
  transition: transform 0.1s ease;
}

@
